.nav {
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
  background:black;
}

.link:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link.active {
  font-size: 25px;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}